/* Общие стили */
.first_page {
  font-family: Georgia, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url("/static/images/faf_kesha.jpg") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
}
.second_page {
  font-family: Georgia, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url("/static/images/house.png") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
}
.mem1 {
  font-family: Georgia, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url("/static/images/lion.jpg") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
}
.mem2 {
  font-family: Georgia, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url("/static/images/borev.png") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
}
.mem3 {
  font-family: Georgia, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url("/static/images/why.jpg") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
}
.mem4 {
  font-family: Georgia, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url("/static/images/papich.jpg") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
}

.main {
  font-family: Georgia, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url("/static/images/fon.png") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
}
/* Изображение в центре */
.center-image {
  max-width: 600px;
  height: auto;
  margin-bottom: 20px;
}
/* Контейнер для контента */
.container {
  text-align: center;
  max-width: 800px;
  padding: 20px;
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Полупрозрачный фон для лучшей читабельности текста */
  border-radius: 10px;
  position: relative;
}
/* Заголовок */
.container h1 {
  font-size: 3em;
  margin: 0;
  color: white;
  margin-bottom: 40px;
}

/* Контейнер для кнопок */
.buttons {
  margin-top: 20px;
}

/* Кнопки */
.btn {
  display: inline-block;
  padding: 15px 30px;
  margin: 10px;
  background-color: #77a5d6;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.4em;
  transition: background-color 0.3s ease;
}

/* Hover эффект для кнопок */
.btn:hover {
  background-color: #0056b3;
}

/* Адаптивность */
@media (max-width: 600px) {
  .container h1 {
    font-size: 2em;
  }

  .btn {
    padding: 10px 20px;
    font-size: 1em;
  }
}
