<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="first_page">
        <div class="container_mem">
        <h1>Зачем нажал???</h1>
        <div class="buttons">
            <a href="/3" class="btn">Баттаама акаары!!!</a>
        </div>
    </div>
    </div>
</body>
</html>
