<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Приглашение</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="main">
    <div class="container">
        <img src="{{ url_for('static', filename='images/mafia_hb.jpg') }}" alt="Central Image" class="center-image" width="930" height="470">
        <h1>Приглашаю тебя на день рождения!</h1>
        <div class="buttons">
            <a href="/1" class="btn">Не нажимай!</a>
            <a href="/2" class="btn">Подтвердить участие</a>
        </div>
    </div>
</div>
</body>
</html>
