<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="second_page">
        <div class="container">
        <h1>Приглашение на день рождения Кутинского Иннокентия Олеговича </br>Дата: 15.08.2024
        </br>Время: с 19:00 (GMT+9)</br>
            Адрес: г. Якутск, Вилюйский тракт, 16 км, 20/2
        </h1>
    </div>
    </div>
</body>
</html>
